{% extends 'frontend/layout.html' %}

{% block content %}
<style>
.form-group {
    margin-bottom: 1rem;
    label {
        margin-bottom: .4rem;
    }
}
</style>
<div class="container pt-5">
    <nav class="d-inline-flex text-secondary small">
        <a href="/">Halls</a>
        <span class="px-2">/</span>
        <a href="/halls/{{hall.id}}">{{hall.name}}</a>
        <span class="px-2">/</span>
        <span>Booking</span>
    </nav>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <!-- <img class="card-image" src="https://dummyimage.com/250" alt=""> -->
                <img class="card-image" src="{{ hall.images.url }}" alt="">
            </div>
        </div>
        <div class="col-md-8">
            <form action="/halls/{{hall.id}}/book-request" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
